**/*__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.egg-info
ignored/
*.npy
.editorconfig
.DS_Store
.venv/
**/*.npy
**/*.npz
*.pt
*.lmdb
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
.idea/
raw_data
lmdb_data
qm9_*
*.sdf
*.cube
experiments
*.coeffs